<!DOCTYPE html>
<head>
<link rel="stylesheet" href="/static/css/design.css">
<title>Results</title>
</head>

<body>

<h1>Your Random Co-Op Game</h1>

<p>The following co-op game has been selected. You can click resubmit at the bottom to get another choice.</p>

<br />
<br />

{{#each red}} 

<h2 id="center">{{game_title}}</h2>

{{/each}} 

<br />
<br />


<div id ="center">
<img id = "center" src = "static/images/{{output}}">
</div>

<br />

<div id ="center">
{{#each red}}
<a href = '{{link_for_info}}' target="_blank">Click here for more info</a>
{{/each}} 
</div>

<br />
<br />

<div class = "submit">

<form id ="return" name ="return" action = "/" method="GET">

<input type="submit" class ="button" value="Change Search">

</form>

<div class ="seperator"></div>

<form id ="retry" name ="retry" action = "/games" method="POST">

<input type="hidden" name="console" value={{console_name}}>
<input type="hidden" name="type" value={{type_name}}>
<input type="hidden" name="genre" value={{genre_name}}>

<input type="submit" class ="button" id = "retryButton" value="Retry"  onclick="transformButtonForRetry()">

</form>

</div>

</body>

</html>

